<div class="container">


    <h2 class="player-title">Player name</h2>


    <div>
        <section class="questions-info">
            <p class="title-info"><span id="choices">English</span> has <span id="question-info">34</span> questions
                available</p>
        </section>

        <section class="question-choices">
            <button id="btn-less" class="btn-choice btn-choice-less">-</button>
            <input type="text" id="total-question" class="input-choice" value="0" autocomplete="off">
            <button id="btn-more" class="btn-choice btn-choice-more">+</button>
        </section>
    </div>

    <div class="group-center">
        <butto id="play-game" class="btn-game">New game</butto>
    </div>

</div>