<div class="">
    <main>
        <div class="container">
            <section>
                <div id="choices-container">
                    <h1 class="text-center">End Game 🎮</h1>
                    <section class="info-game">
                        <div class="flex-2">
                            <h3>Player</h3>
                            <p id="player">Santos victor delad</p>
                        </div>
                        <div class="flex-2">
                            <h3>Score</h3>
                            <p id="score">5</p>
                        </div>
                    </section>

                    <div class="flex-cl-2">
                        <button id="new-game" class="btn-answer">new game</button>
                        <button id="replay-game" class="btn-answer">replay</button>
                    </div>
                    
                </div>
            </section>
        </div>
    </main>
</div>