<div class="">
    <nav>
        <section class="container nav-flex-center">
            <div>
                <h2 id="player">Player: <span> Victor santso</span></h2>
            </div>

            <div>
                <h2 id="info-question">Question <span>1</span> of <span>10</span></h2>
            </div>
        </section>
    </nav>

    <main>
        <div class="container">
            <section>
                <h2 id="title-question" class="title-question">¿Cual es las diferencia entre "Good afternoon" y "Good evening"?</h2>
            </section>

            <section>
                <div id="choices-container">
                    <button class="btn-answer">Uno se usa para antes dotro para despues de la cena e la cena y el otro para despues de la cena</button>
                    <button class="btn-answer"> tarde</button>
                    <button class="btn-answer">Uno se usa para antes dotro para dese la cena y el otro para despues de la cena</button>
                    <button class="btn-answer">Uno se usa para antes de la cena y el otro para despues de la cena</button>
                    <button class="btn-answer">Uno se usa para antes dotro para despues de la cena e la cena y el otro para despues de la cena</button>
                </div>
            </section>
        </div>
    </main>
</div>