<div class="container">

    <h1 class="title-main mg-b1">Quiz</h1>
    <div class="player">
        <label for="" class="player-title">Player name</label>
        <input type="text" id="player-name" class="player-input" autocomplete="off" placeholder="Name of player">
    </div>

    <div>
        <h2 class="title-section">Choices</h2>
        <section class="choices-box">
            <article class="choices-card" id="1" data-card="cardChoices">
                <h3 class="choices-card-title">English</h3>
            </article>

            <article class="choices-card" id="2" data-card="cardChoices">
                <h3 class="choices-card-title">Programing</h3>
            </article>

            <article class="choices-card" id="3" data-card="cardChoices">
                <h3 class="choices-card-title">All choices</h3>
            </article>
        </section>
    </div>

    <br><br>
    <div class="group-center">
        <butto id="next" class="btn-game">Next</butto>
    </div>

</div>